body{
  font-family: Arial, sans-serif;
  text-align:center;
  margin:0;
  padding:20px;
}

h1{
  font-size:48px;
  margin-bottom:20px;
}

#video{
  width:95vw;
  max-width:900px;
  height:auto;
  border:3px solid #333;
  border-radius:15px;
}

#resultado{
  margin-top:20px;
  font-size:42px;
  font-weight:bold;
  color:#000;
}

#confirmacao{

  display:none;

  position:fixed;

  top:0;
  left:0;

  width:100%;
  height:100%;

  background:#0a8f08;

  color:white;

  z-index:9999;

  font-size:48px;

  font-weight:bold;

  justify-content:center;
  align-items:center;

  flex-direction:column;

}

#confirmacao.mostrar{

  display:flex;

}

#processando{

  display:none;

  position:fixed;

  top:0;
  left:0;

  width:100%;
  height:100%;

  background:#1e3a8a;

  color:white;

  z-index:9998;

  justify-content:center;
  align-items:center;

  flex-direction:column;

  text-align:center;

}

#processando.mostrar{

  display:flex;

}

#processando h1{

  font-size:60px;

  margin-bottom:20px;

}

#processando h2{

  font-size:42px;

}
